.skeleton{
    opacity: 0.5;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 20%);
    }100%{
        background-color: hsl(200, 20%, 40%);
    }
}